body {
  width: 500px;
  height: 500px;
  border: rgb(0, 0, 0, 0.3) solid 2px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Tahoma, sans-serif;
}

.cor {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Tahoma, sans-serif;
}

#textRed,
#textGreen,
#textBlue {
  width: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rangeRed[type='range'] {
  -webkit-appearance: none;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

#rangeGreen[type='range'] {
  -webkit-appearance: none;
  background-color: rgb(0, 255, 0);
  cursor: pointer;
}

#rangeBlue[type='range'] {
  -webkit-appearance: none;
  background-color: rgb(0, 0, 255);
  cursor: pointer;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#box {
  border: #000 solid 1px;
  height: 130px;
  width: 130px;
  margin: 10px 10px;
}
